.FundDisplay {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  min-height: 100vh;
}

.displayHeader {
  /* background-color: yellow; */
  padding: 1rem 0;
}

.chartContainer {
  /* background-color: olive; */
  width: 60%;
  padding: 1.5rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .chartContainer {
    width: 75%;
  }
}

.returns {
  /* background-color: orange; */
  padding: 1rem 0;
}